html {
	margin: 0;
	padding: 0;
	background-color: rgb(211, 218, 226);
	font-family: 'Helvetica Neue', 'Helvetica', Arial, Geneva, Verdana, sans-serif;
}
body {
	width: 70%;
	margin: 0 auto;
	font: 100% Arial, Helvetica, sans-serif;
	padding: 1em 50px;
	background: white;
}
h1 {
	color: #2274d1;
	margin: 0 auto;
	padding: 5px 10px;
	font-size:3em;
	text-align: center
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 .4em;
	text-align: center;
	color: rgb(0, 23, 127);
	padding: 5px 10px;
}
p {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 .4em;
	text-align: left;
	color: #2274d1;
	padding: 5px 10px;
}


#team{
	color: white;
	background: -webkit-linear-gradient(#41cbff,#2f7bd3);
	margin: 0 auto;
	font-size:2em;
	
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
	background: -webkit-linear-gradient(#2f7bd3, #41cbff);
}

#menu li {
  float: left;
  border-right:1px solid #3792e7
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#content {
	width: 100%; 
	border-bottom:2px solid lightskyblue;
}